#### **II. Analysis with rep**

##### Logic: Here, the participant had to compare pairs of different textures. They had to tell if they perceive the pairs as similar or different (same or different task). In each combinaison, they had to compare the reference, texture 2 on of the other texture

In [6]:
import numpy as np
import os
import matplotlib as plt
import glob
import pandas as pd
import seaborn as sns

In [7]:
#import data and check proportion good answer 
path = "C:/Users/Jenna/Documents/isir/haptics/psychophysics/fish_tank/new_texture/comp_with_ref/*.csv"
columns = ["T1","T2","PA","Scale"]  #scale: 1 same -9 different #pas de doublons sauf texture 2 (reference)

for filename in glob.glob(path):
    df = pd.read_csv(filename, sep=",", header=None)
    df.columns = columns
    df["TA"] = np.where(df["T1"] == df["T2"], 1,2) #true answer
    df["C"] = np.where(df["PA"]==df["TA"],1,0) #comparision participant answer/true answer
    display(df)
    
    # proportion of correct answer for the entire experiment
    proportion_correct = ((df["C"] == 1).sum())/32
    print("proportion of correct answer = ", proportion_correct)

    T1  T2  PA  Scale  TA  C
0    2   2   2      3   1  0
1    4   2   2      3   2  1
2    2   2   2      2   1  0
3    2   1   1      1   2  0
4    2   1   2      2   2  1
5    3   2   2      3   2  1
6    2   3   1      2   2  0
7    1   2   2      2   2  1
8    2   2   2      4   1  0
9    1   2   1      1   2  0
10   2   1   2      2   2  1
11   4   2   2      6   2  1
12   4   2   2      4   2  1
13   2   2   2      2   1  0
14   3   2   2      6   2  1
15   2   3   2      8   2  1
16   4   2   2      4   2  1
17   2   2   1      1   1  1
18   2   3   2      5   2  1
19   3   2   2      7   2  1
20   3   2   2      4   2  1
21   2   1   2      2   2  1
22   1   2   2      3   2  1
23   4   2   2      4   2  1
24   4   2   2      4   2  1
25   1   2   2      3   2  1
26   2   2   2      2   1  0
27   2   2   2      3   1  0
28   2   4   2      3   2  1
29   2   2   1      1   1  1
30   3   2   2      4   2  1
31   2   4   2      4   2  1

proportion of correct answer =  0.71875

    T1  T2  PA  Scale  TA  C
0    2   2   2      0   1  0
1    2   1   2      0   2  1
2    4   2   2      0   2  1
3    2   2   1      0   1  1
4    2   4   2      0   2  1
5    2   2   1      0   1  1
6    2   4   1      0   2  0
7    2   2   2      0   1  0
8    2   1   2      0   2  1
9    2   4   1      0   2  0
10   2   4   2      0   2  1
11   2   4   2      0   2  1
12   2   3   2      0   2  1
13   2   3   2      0   2  1
14   1   2   2      0   2  1
15   1   2   2      0   2  1
16   2   1   2      0   2  1
17   3   2   2      0   2  1
18   2   2   1      0   1  1
19   2   3   2      0   2  1
20   3   2   2      0   2  1
21   1   2   1      0   2  0
22   2   1   2      0   2  1
23   2   2   2      0   1  0
24   2   3   2      0   2  1
25   4   2   2      0   2  1
26   2   2   2      0   1  0
27   2   2   2      0   1  0
28   3   2   2      0   2  1
29   4   2   2      0   2  1
30   2   3   2      0   2  1
31   2   1   2      0   2  1

proportion of correct answer =  0.75

In [3]:
#check scale (heatmap)

#import data
path = "C:/Users/Jenna/Documents/isir/haptics/psychophysics/fish_tank/new_texture/comp_with_ref/*.csv"
column = ["T1","T2","PA","Scale"]

#Heatmap
for filename in glob.glob(path):
    df = pd.read_csv(filename, sep=",", header=None)
    df.columns = columns
    piv = pd.pivot_table(df, values="Scale", index=["T1"], columns =["T2"])
    display(piv)

#Histogram
for filename in glob.glob(path):
    df = pd.read_csv(filename, sep=",", header=None)
    df.columns = columns

T2     1         2    3    4
T1
1    NaN  2.250000  NaN  NaN
2   1.75  2.250000  5.0  3.5
3    NaN  4.800000  NaN  NaN
4    NaN  4.166667  NaN  NaN